<%= form_for(task) do |f| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% task.errors.full_messages.each do |task| %>
          <li><%= task %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
 <div class="row"> 
  <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-sm-offset-2 col-lg-offset-3 col-lg-6 col-lg-offset-3">
    <div class="form-control " >
    <%= f.label :content, 'タスク' %>
    <%= f.text_field :content %>
    </div>
  </div>

  <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-sm-offset-2 col-lg-offset-3 col-lg-6 col-lg-offset-3">
    <div class="form-control " >    
    <%= f.label :status,'ステータス' %>
    <%= f.text_field :status %>
  </div>
  
 
   <div class="btn btn-success btn btn-link">
    <%= f.submit '作成' %>
   </div>
 </div>
  
 <% end %>

<%= link_to '一覧に戻る', tasks_path %>


